* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sixing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  color: #FFF;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header__inner {
  font-family: "Gilroy Regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 126px;
}

.header__list-item {
  line-height: 150%;
}

.header__list-item + .header__list-item {
  margin-left: 40px;
}

.header__list-link {
  color: #fff;
}

.header__logo {
  margin-right: 102px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 40px;
}

.header__serch-img {
  margin-right: 16px;
}

.header__search-text {
  line-height: 2;
}

.header__check {
  color: #fff;
  line-height: 150%;
  margin-right: 44px;
}

.top {
  background-image: url(../images/top/top-bg.jpg);
}

.top__content {
  padding-top: 600px;
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
}

.top__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.top__btn {
  font-family: 'Gilroy Medium';
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #333333;
  border: 1px solid #ffffff;
  padding: 15px 35px;
  color: #FFF;
  margin-bottom: 80px;
}

.top__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #FFF;
}

.top__brands-item {
  max-width: 170px;
  border-right: 1px solid #FFF;
  margin: 30px 0 30px 0;
}

:nth-child(6) {
  border-right: none;
}

.activity {
  color: #333333;
}

.activity__inner {
  padding: 100px 0 120px;
}

.activity__text {
  font-family: "Gilroy Regular";
  font-size: 21px;
  line-height: 140%;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.activity__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  width: 540px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.activity__list-item {
  width: 165px;
  height: 55px;
  border: 1px solid #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
}

.activity__list-item::after {
  content: "";
  width: 165px;
  height: 55px;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  position: absolute;
  right: -6px;
  bottom: -6px;
  z-index: 1;
}

.activity__list-item span {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.activity__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.activity__cards-item {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  width: 350px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}

.activity__cards-item:nth-child(1) {
  background-image: url(../images/activity/card1.jpg);
}

.activity__cards-item:nth-child(2) {
  background-image: url(../images/activity/card2.jpg);
}

.activity__cards-item:nth-child(3) {
  background-image: url(../images/activity/card3.jpg);
}

.activity__cards-item:nth-child(4) {
  background-image: url(../images/activity/card4.jpg);
}

.activity__cards-item:nth-child(5) {
  background-image: url(../images/activity/card5.jpg);
}

.activity__cards-item:nth-child(6) {
  background-image: url(../images/activity/card6.jpg);
}

.activity__cards-item span {
  padding-bottom: 30px;
}
